.nav-logo {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	padding: 0 15px !important;
}

img.nav-logo-image {
	width: 40px !important;
}

h1.nav-logo-title {
	font-family: 'Cinzel Decorative', cursive;
	font-size: 1.5rem;
    padding: 5px 0 0 10px;
    margin-top: 0;
}